# Copy to Developer.xcconfig and populate the values

APP_NAME = <app name> # Use "quotes" if the name has spaces or special characters

APP_ID = <app bundle id>

DEVELOPMENT_TEAM = <Apple Developer Account Team ID>
